<section
  class="bg-[url('assets/landscape.jpg')] bg-cover w-full h-screen flex flex-row items-center justify-between lg:px-10r"
>
  <div class="bg-black bg-opacity-50 w-full h-full flex flex-col lg:flex-row items-center justify-between">
    <div class="flex flex-col items-start justify-end lg:pb-10 lg:pl-10 h-full">
      <div class="text-white text-center lg:text-start">
        <h1 class="text-4xl">¡Bienvenido a mi primera app!</h1>
        <p class="text-2xl text-gray-400">Esta es una aplicación de gestión de usuarios</p>
        <p class="text-2xl text-gray-400">
          Desarrollada con Angular, NestJS, Prisma y PostgreSQL
        </p>
      </div>
    </div>
    <div class="h-full flex items-end pb-10 lg:pr-10">
      <a href="/users" class="bg-gray-400/20 text-white border-black rounded-3xl p-3 mx-1 font-semibold">
        Ver usuarios
      </a>
      <a href="/users/create" class="bg-white border-black rounded-3xl p-3 mx-1 font-semibold">
        Crear usuarios
      </a>
    </div>
  </div>
</section>
